<div class="tileHolder" id="#tileHolder">
    <div class="tile <%=color%>">
        <div class="icon <%=icon%>"></div>
    </div>

    <div class="part tile1 <%=color%>"></div>
    <div class="part tile2 <%=color%>"></div>
    <div class="part-icon <%=icon%>"></div>
</div>